.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.mobile-menu__main {
  list-style: none;
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__btn {
  cursor: pointer;
  outline: none !important;
  background-color: transparent;
  border: none;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  margin: 5px;
}

.mobile-menu__btn > span {
  display: block;
  top: 0;
  left: 0;
  width: 35px;
  height: 2px;
  background-color: black;
  margin-bottom: 9px;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0px;
}

.mobile-menu__item {
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  opacity: 0;
  padding: 0 40px;
  -webkit-transition: opacity .2s, -webkit-transform .3s;
  transition: opacity .2s, -webkit-transform .3s;
  transition: transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s, -webkit-transform .3s;
}

.mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none !important;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__btn > span {
  background-color: black;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.menu-open .mobile-menu__item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.bgColorWhite, .btn.float, .btn.filled:hover, .btn.letter-spacing, .btn.shadow, .btn.solid, .btn.rotate, .btn.bg-slide {
  background-color: white;
  color: black;
}

.bgColorBlack, .btn.float:hover, .btn.filled, .btn.letter-spacing:hover, .btn.rotate:hover {
  background-color: black;
  color: white;
}

.btn {
  position: relative;
  margin: 10px auto;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none !important;
  border: 1px solid black;
}

.btn.filled {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn.filled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.letter-spacing:hover {
  letter-spacing: 3px;
}

.btn.shadow:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 0 black;
          box-shadow: 5px 5px 0 0 black;
}

.btn.solid {
  -webkit-box-shadow: 2px 2px 0 0 black;
          box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}

.btn.solid:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.btn.rotate:hover {
  -webkit-transform: scale(1.5) rotate(10deg);
          transform: scale(1.5) rotate(10deg);
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.btn.bg-slide {
  z-index: 0;
}

.btn.bg-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn.bg-slide:hover {
  color: white;
}

.btn.bg-slide:hover::before {
  content: '';
  -webkit-transform: none;
          transform: none;
}

.btn.cubic-3d {
  display: inline-block;
  border: none;
  padding: 0 0;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn.cubic-3d span {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center -25px;
          transform-origin: center center -25px;
}

.btn.cubic-3d .hovering {
  color: white;
  background-color: black;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  opacity: 0;
}

.btn.cubic-3d .default {
  color: black;
  background-color: white;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn.cubic-3d:hover .hovering {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  opacity: 1;
}

.btn.cubic-3d:hover .default {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: black;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .double-spinner {
  position: relative;
  margin: 100px auto;
}

.loader .double-spinner > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
  -webkit-animation-name: double-spinner;
          animation-name: double-spinner;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .double-spinner > div:nth-child(1) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.loader .rect-spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  letter-spacing: -2px;
}

.loader .rect-spinner div {
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: black;
  -webkit-animation-name: rect-spinner;
          animation-name: rect-spinner;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .rect-spinner div:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader .rect-spinner div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .rect-spinner div:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader .rect-spinner div:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader .rect-spinner div:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}

@-webkit-keyframes double-spinner {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes double-spinner {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rect-spinner {
  0%, 40%, 60%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes rect-spinner {
  0%, 40%, 60%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  50% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  position: absolute;
  content: '';
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eaebe6;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.img-zoom {
  width: 100%;
  height: 100%;
}

.inview .img-zoom {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.inview .img-zoom:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.hover-darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.animate__container {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: teal;
}

.animate__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: large;
  font-weight: 600;
  color: white;
}

.animate__title .char {
  margin-left: 4px;
}

.char-animation, .animate__title.inview .char, .scroll__element.inview .char {
  display: inline-block;
  -webkit-animation-name: kf-text-animation;
          animation-name: kf-text-animation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.char-animation:nth-child(1), .animate__title.inview .char:nth-child(1), .scroll__element.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s;
}

.char-animation:nth-child(2), .animate__title.inview .char:nth-child(2), .scroll__element.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.char-animation:nth-child(3), .animate__title.inview .char:nth-child(3), .scroll__element.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
}

.char-animation:nth-child(4), .animate__title.inview .char:nth-child(4), .scroll__element.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.char-animation:nth-child(5), .animate__title.inview .char:nth-child(5), .scroll__element.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.char-animation:nth-child(6), .animate__title.inview .char:nth-child(6), .scroll__element.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.char-animation:nth-child(7), .animate__title.inview .char:nth-child(7), .scroll__element.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

.char-animation:nth-child(8), .animate__title.inview .char:nth-child(8), .scroll__element.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.char-animation:nth-child(9), .animate__title.inview .char:nth-child(9), .scroll__element.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s;
}

.char-animation:nth-child(10), .animate__title.inview .char:nth-child(10), .scroll__element.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.char-animation:nth-child(11), .animate__title.inview .char:nth-child(11), .scroll__element.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

.char-animation:nth-child(12), .animate__title.inview .char:nth-child(12), .scroll__element.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.char-animation:nth-child(13), .animate__title.inview .char:nth-child(13), .scroll__element.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s;
}

.char-animation:nth-child(14), .animate__title.inview .char:nth-child(14), .scroll__element.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.char-animation:nth-child(15), .animate__title.inview .char:nth-child(15), .scroll__element.inview .char:nth-child(15) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

@-webkit-keyframes kf-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-text-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn-3d span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  font-weight: 600;
  -webkit-transform-origin: center center -20px;
          transform-origin: center center -20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border: solid 1px black;
}

.btn-3d .hover {
  background-color: black;
  color: white;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.btn-3d .nothover {
  background-color: white;
  color: black;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-3d:hover .hover {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btn-3d:hover .nothover {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.scroll__element {
  position: relative;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: white;
  font-size: 2em;
}

.scroll__element:nth-child(1) {
  background-color: teal;
}

.scroll__element:nth-child(2) {
  background-color: orange;
}

.scroll__element:nth-child(3) {
  background-color: mediumvioletred;
}

body {
  -webkit-transition: all .7s;
  transition: all .7s;
  margin: 0;
}

.header {
  background-color: white;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  position: relative;
  height: auto;
  z-index: 2;
  background-color: #f3e5ea;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.main-title {
  font-weight: 600;
  font-size: 25px;
}

.sub-title {
  display: block;
  font-size: 14px;
  color: #535353;
}
/*# sourceMappingURL=style.css.map */