/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/


body {
    font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

img {
    max-width: 100%;
    // 上下余白を解消するプロパティ
    vertical-align: bottom;
}

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 17px;
}

.font-lr {
    font-size: 17px;
}

.font-lg {
    font-size: 25px;
}

.mb-sm {
    margin-bottom: 16px !important;
}

.mb-lg {
    margin-bottom: 80px !important;
}

.pb-sm {
    padding-bottom: 16px !important;
}

.pb-lg {
    padding-bottom: 80px !important;
}

.content-width {
    width: 80%;
    margin: 0 auto;
    max-width: $contentMaxWidth;
}

#container {
    position: relative;
    z-index: 10;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background-color: transparent;
    align-items: center;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }

    &__nav {
        display: none;
    }

    &__ul {
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    &__li {
        margin-left: 20px;

        & > a {
            color: $cBlack;
            text-decoration: none !important;
            text-transform: uppercase;
        }

        & > button {
            text-transform: uppercase;
        }
    }

    & .logo {
        justify-content: center;
        font-size: 38px;
    }
}

.logo {
    font-size: 42px;
    display: flex;

    &__img {
        width: 0.7em;
    }

    &__stay {
        color: $cWineRed;
    }
}

.main-title {
    display: block;
    font-weight: 600;
    margin-bottom: 0;
}

.sub-title {
    display: block;
}


// ============= _mobile-menu.scss ====================

.mobile-menu {

    position: fixed;
    right: 0;
    top: 60px;
    width: 300px;
    
    &__btn {

        background-color: transparent;
        cursor: pointer;
        border: none;
        outline: none !important;

        & > span {
            background-color: $cBlack;
            display: block;
            width: 35px;
            height: 2px;
            margin-bottom: 9px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__ul {
        list-style: none;
    }

    &__link {
        text-decoration: none !important;
    }
}


// ============= _button.scss ====================

.btn {
    position: relative;
    display: inline-block;
    border: 1px solid $cBlack;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none !important;

    &.filled {
        background-color: $cBlack;
        color: $cWhite;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        &:hover {
            color: $cBlack;
            background-color: $cWhite;            
        }
    }
}