@charset "UTF-8";
.btn {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none !important;
}

.btn.float:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.filled {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.fgWhitebgBlack, .btn.float:hover, .btn.filled {
  background-color: black;
  color: white;
}

.fgBlackbgWhite, .btn.float, .btn.filled:hover {
  background-color: white;
  color: black;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.mobile-menu__btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none !important;
}

.mobile-menu__btn > span {
  background-color: black;
  display: block;
  width: 35px;
  height: 2px;
  margin-bottom: 9px;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__ul {
  list-style: none;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.mobile-menu__li {
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mobile-menu__link {
  text-decoration: none !important;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  -webkit-transition: color .3s, opacity .3s;
  transition: color .3s, opacity .3s;
  cursor: pointer;
}

.menu-open #container {
  -webkit-transform: translate(-350px, 60px);
          transform: translate(-350px, 60px);
}

.menu-open .mobile-menu {
  opacity: 1;
}

.menu-open .mobile-menu__li {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__li:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__li:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__li:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__li:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__li:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

.hero {
  position: relative;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.hero__footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 10;
  width: 50px;
  height: 100px;
  overflow: hidden;
}

.hero__downarrow {
  position: absolute;
  -webkit-animation-name: kf-downarrow;
          animation-name: kf-downarrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hero__scrolltext {
  position: absolute;
  top: 20px;
  left: -5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 20px;
}

@-webkit-keyframes kf-downarrow {
  0%,
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-downarrow {
  0%,
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  50% {
    -webkit-transform: none;
            transform: none;
  }
}

.swiper-img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm, .travel__subtitle {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg, .travel__title {
  font-size: 25px;
}

.mb-sm, .travel__subtitle {
  margin-bottom: 16px !important;
}

.mb-lr {
  margin-bottom: 30px !important;
}

.mb-lg, .hero {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .header__inner {
  width: 80%;
  margin: 0 auto;
  max-width: 1070px;
}

#container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: auto;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.header__li {
  margin-left: 20px;
}

.header__li > a {
  color: black;
  text-decoration: none !important;
  text-transform: uppercase;
}

.header__li > button {
  text-transform: uppercase;
}

.header .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 38px;
}

#content {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.logo {
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 0.7em;
}

.logo__stay {
  color: #904669;
}

.main-title {
  display: block;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  display: block;
}

.travel__text {
  margin-top: 30px;
  padding-bottom: 8px;
}

.travel__inner {
  position: relative;
  z-index: 0;
  margin: 10px 40px;
  padding: 15px;
  background-color: #eaebe6;
}

.travel__title {
  font-weight: 600;
}

.travel__subtitle {
  color: rgba(0, 0, 0, 0.7);
}

.travel__stay {
  color: #904669;
}

.cover-slide {
  position: relative;
  overflow: hidden;
  height: 400px;
  -webkit-transition: -webkit-box-shadow 1.3s linear;
  transition: -webkit-box-shadow 1.3s linear;
  transition: box-shadow 1.3s linear;
  transition: box-shadow 1.3s linear, -webkit-box-shadow 1.3s linear;
}

.cover-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.cover-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover-slide.inview {
  -webkit-box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

.cover-slide.inview img {
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cover-slide.inview::after {
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@media (min-width: 960px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-menu__btn {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}
/*# sourceMappingURL=styles.css.map */